@import '../abstract/variables';

.banner {
    background: url(../imagens/banner.jpeg) 27% center no-repeat;
    min-height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .9;

    .inner-banner {
        padding: 3rem;
        background-color: $third-color;
        opacity: .9;
        border-radius: 45px;

        h1 {
            font-size: $font-size-king;
            color: $first-color;
        }

        h2 {
            font-size: calc($font-size-king/2);
            color: $second-color;
        }
    }
}